@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color: rgb(40, 83, 83);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    border: 2px solid lightblue;
    font-size: 16pt;
    font-weight: 600px;
    text-align: center;

}

p {
    display: flex;
    align-items: center;
    margin-left: 37px;
    font-size: 16px;
    color:rgb(253, 253, 253);
}

.container {
    display: block;
}

h1 {
    color:rgb(253, 253, 253);
}